<!DOCTYPE html>
<head> 
<html lang="en">
<meta charset="UTF-8">
    <title></title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes" />
    <title>一起学</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/detail.css">
</head>
<body>
      <div id="app">
      <!-- 头部 -->
         <div class="head clearfix">
               <span class="head01 fl"><</span>
               <span class="head02 fl">X</span>
               <span class="head03">一起学</span>
               <span class="head04 fr">...</span>
         </div>

         <div class="banner">
             <img v-bind:src="detail01" alt="" class="detail01">
           <div class="det clearfix">
                <div class="left fl">
                  <img v-bind:src="news.imgsrc" alt="" class="er">
                </div>
                <div class="right fr">
                  <p class="detail02"><span>主讲人</span>   {{news.name}}</p>
                  <p class="detail03">{{news.gradute}}</p>
                  <p class="detail04">{{news.other}}</p>
                </div>
        </div>
        <img v-bind:src="tiao" alt="">
           <div class="content">
                <p style="margin-bottom:.15rem"><span class="bluepoint"></span>课程简介 <span class="fr xuzhi"><img v-bind:src="not" alt="" class="fl"><i class="fl"><a href="#">直播须知</a></i><img v-bind:src="up" alt="" v-if="isClick" class="fr arrow" v-on:click="lookMore()"><img v-bind:src="down" alt="" v-if="!isClick" class="fr arrow" v-on:click="lookMore()"></span></p>
                <p class="con" v-bind:class="{all:!isClick}">{{news.controduct}}</p>
                <p class="mar"><span class="bluepoint "></span>适用学员 </p>
                <p v-for="item in news.fit" class="peo">{{item}}</p>
                <p class="mar"><span class="bluepoint "></span>课程时间 </p>
                <p style="margin:.2rem 0">时间: <span>{{news.time}}</span>     <span class="last">( <img v-bind:src="cloak" alt="" sytle="font-weight:600">{{news.sec}} )</span></p>
                <p class="mar"><span class="bluepoint "></span>参与人数:  {{news.people}}人  <span style="color:#ff6363;margin-left:.36rem;font-weight: 800;">{{news.come}}</span>人已参加 </p>

           </div>
      </div>

       <div class="main">
            <div class="title01"><span><img v-bind:src="fire" alt=""></span><i>最热课程</i></div>
            <div v-for="item in course" class="course clearfix">
            <div class="left fl">
              <img v-bind:src="item.imgsrc" alt="">
              <span class="name">{{item.name}}</span>
            </div>
            <div class="right fr">
              <p class="t01 fl">{{item.title01}}</p>
              <p class="fl t02">时间:<span>{{item.time}}</span><span class="fr"><img v-bind:src="cloak" alt="" class="fl"><span class="fr sec">{{item.sec}}</span></span></p>
             <p>参与人数: <span>{{item.people}}</span>人  <span class="come">{{item.come}}</span>人已参加</p>
            </div>
       </div>
      <div class="join" v-on:click="join">我要参加</div>
      </div>


           
</body>
<script src="js/base.js"></script>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src='js/vue.min.js'></script>
<script>
var vm = new Vue({
   el:'#app',
   data:{
          img1:"images/l4.jpg",
          img2:"images/l1.jpg",
          img3:"images/l2.jpg",
          img4:"images/l3.jpg",
          fire:"images/fire.png",
          cloak:"images/cloak.png",
          detail01:'images/xiang01.png',
          tiao:'images/xiang02.png',
          not:'images/xiang03.png',
          up:'images/up.png',
          down:'images/down.png',
          isClick:false,
          news:{
            imgsrc:'images/l2.jpg',
            name:'john',
            gradute:'香港大学',
            other:'曾就职于乐事事业部',
            'controduct':'以讲授数学重难点知识点和较为有难度的以讲授数学重难点知识点和较为有难度的以讲授数学重难点知识点和较为有难度的以讲授数学重难点知识点和较为有难度的以讲授数学重难点知识点和较为有难度的以讲授数学重难点知识点和较为有难度的以讲授数学重难点知识点和较为有难度的以讲授数学重难点知识点和较为有难度的以讲授数学重难点知识点和较为有难度的以讲授数学重难点知识点和较为有难度的以讲授数学重难点知识点和较为有难度的以讲授数学重难点知识点和较为有难度的以讲授数学重难点知识点和较为有难度的以讲授数学重难点知识点和较为有难度的',
            fit:['1.数学成绩较为优秀的成员','2.希望提前掌握初一春季课程知识重难点的同学'],time:'2017/02/23  10:00',
            sec:'35:56',
            people:'30',come:'28'},
          course:[{
            title01:'帮助妈妈快乐的回到职场',
            time:"2017/02/23 10:00",
            sec:"36.56",
            people:"30",
            come:'28',
            imgsrc:"images/l1.jpg",
            name:'甜头菜'
          },
          {
            title01:'帮助妈妈快乐的回到职场',
            time:"2017/02/23 10:00",
            sec:"36.56",
            people:"30",
            come:'28',
            imgsrc:"images/l1.jpg",
            name:'jhon'
          },
          {
            title01:'帮助妈妈快乐的回到职场',
            time:"2017/02/23 10:00",
            sec:"36.56",
            people:"30",
            come:'28',
            imgsrc:"images/l1.jpg",
            name:'ering'
          },
          {
            title01:'帮助妈妈快乐的回到职场',
            time:"2017/02/23 10:00",
            sec:"36.56",
            people:"30",
            come:'28',
            imgsrc:"images/l1.jpg",
            'name':'方付通'

          },
          {
            title01:'帮助妈妈快乐的回到职场',
            time:"2017/02/23 10:00",
            sec:"36.56",
            people:"30",
            come:'28',
            imgsrc:"images/l1.jpg",
            name:'payd'
          },
          {
            title01:'帮助妈妈快乐的回到职场',
            time:"2017/02/23 10:00",
            sec:"36.56",
            people:"30",
            come:'28',
            imgsrc:"images/l1.jpg",
            name:'payd'
          },
          {
            title01:'帮助妈妈快乐的回到职场',
            time:"2017/02/23 10:00",
            sec:"36.56",
            people:"30",
            come:'28',
            imgsrc:"images/l1.jpg",
            name:'payd'
          },
          {
            title01:'帮助妈妈快乐的回到职场',
            time:"2017/02/23 10:00",
            sec:"36.56",
            people:"30",
            come:'28',
            imgsrc:"images/l1.jpg",
            name:'payd'
          },
          {
            title01:'帮助妈妈快乐的回到职场',
            time:"2017/02/23 10:00",
            sec:"36.56",
            people:"30",
            come:'28',
            imgsrc:"images/l1.jpg",
            name:'payd'
          }]
   },
   init:(function(){
       var _self = this;
       
   })(),
   // ready:(function(){
   //    console.log("我怎么那么倒霉");
   // })(),
   methods:{
      lookMore:function(){
        var _self = this;
       _self.isClick=!_self.isClick;    
      },
      join:function(){
        alert('听课');
      }
   }
});

</script>

</html>
