<!doctype html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes" />
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/share01.css">
</head>
<body>
   <div class="content">
     <div class="header">
         <div class="title01">
            <img src="images/share01_01.jpg" alt="">
            <span class="name">李大</span>
            <span class="jifen">1000</span>
         </div>        
         <img src="images/share01_02.jpg" alt="">
         <img src="images/share01_03.jpg" alt="">
         <img src="images/share01_04.jpg" alt="">
         <img src="images/share01_05.jpg" alt="">
         <div class="title02">
         <img src="images/share01_06.jpg" alt="">   
          <a href="#"><span class="openApp"></span></a>
         </div>          
         <span class="img"></span>
         <div class="footer">
           <ul class="ul">
              <li class="divs clearfix">
                  <div class=left>
                     <img src="images/share01_01.jpg" alt="">
                    </div>
                   <div class="right">
                     <p class="text1">合适合适合适合适合适合</p>
                     <div class="text2">
                       <p class="text22">合适合适合适合适合适合适合适合适合适合适合 </p><span>......</span>
                     </div>
                     <span class="text3">2000人学过</span>  |
                     <span class="text4">5星评价</span>
                    </div>
              </li>
            </ul>
         </div>
      </div>
   </div>
</body> 
<script src="js/js.js"> </script>
<script src="js/jquery-1.12.4.js"></script>
<script src="js/template-native.js"></script>
 <script type="text/html" id="tpl">
        <% for(var i = 0; i < datas.length; i++) { %>
            <li class="divs clearfix">  
                    <div class="left">
                      <img src="+<%= datas[i].imageSrc %>+" alt="">
                    </div>
                    <div class="right">
                       <p class="text1"><%= datas[i].text1 %></p>
                        <div class="text2">
                       <p class="text22"><%= datas[i].text2 %> </p><span>......</span>
                     </div>
                       <span class="text3"><%= datas[i].text3 %>人学过</span>|
                       <span class="text4"><%= datas[i].text3 %><%= datas[i].text4 %>星评价</span>
                    </div>
            </li>
        <% } %>
    </script>
<script>
        $(function(){
            $.ajax({
                type: "get",
                url: "http://webhm.top:9999/getall",
                success:function(datas) {
                    var html = template("tpl", {datas:datas});
                    $(".ul").html(html);
                    $(".name").html(datas.name);
                    $(".jifen").html(datas.jifen);
                    $(".img").html('<img src="+datas.imgSrc+" alt="" />');
                },
                error: function(){
                    alert("出错了");
                }
            });
        })
    </script>
</html>



